@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300&display=swap');

* 
{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth; 
}

body{
    background-color: #0b0c10; 
    font-family: 'Hind', sans-serif;
    
    position: relative;
    height: 100vh; 
}

#main-page
{
    height: 100vh; 
    display: block;  
}

.navbar-container{
    background-color: #0b0c10;
    color: white; 
    list-style: none;
    display: block; 
    position: relative;  
    border-radius: 15px; 
}

.nav-items-container
{
    margin-top: 2vh;
    margin-right: 2vw;   
    display: flex;
    justify-content: flex-end;
    gap: 5rem;   
    font-weight: bold; 
    font-size: 25px; 
     
}

.nav-item:hover{
    cursor: pointer; 
    color: #66fcf1; 
    transition: 0.4s; 
}

.nav-item:visited {
  color: white; 
}

.nav-item:visited:hover {
  cursor: pointer; 
    color: #66fcf1; 
}

.toggle-button {
    position: absolute; 
    left: 3%;
    top: 5%;
    font-size: 50px; 
    transition: 0.8s;
    cursor: pointer;  
  }

  .home-container
  {
    color: #66fcf1;
    font-size: 3rem; 
    text-align: center; 
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh; 
    
  }

  .welcome-text
  {
    text-align: center
  }

  .to-about-button
  { 
    font-size: 22px; 
    background: none; 
    color: #fff; 
    border: 2px solid #66fcf1;
    width: 40vh; 
    height: 10vh; 
    display: flex; 
    align-items: center;
    justify-content: center;
  }

  a{
    text-decoration: none;
  }

  .to-about-button:hover{
    color: #66fcf1;
    border: 2px solid white;
    font-size: 30px;  
    width: 12vh; 
    height: 10vh;
    left: 0; 
    transition: 0.7s; 
    cursor: pointer; 
  }


  .title-text
  {
    margin-left: 2%; 
    font-size: 22px; 
    padding: 15px; 
  }

  #about-container
  {
    background-color: rgb(238, 238, 238); 
    height: 100vh; 
    position: relative; 
    letter-spacing: 0;

  }

  .about-text
  {
    width: 25%;
    margin-left: 15%; 
  }



  .text-image-container
  {
    gap: 10rem; 
    display: flex; 
    align-items: center;
    justify-content: center;
    height: inherit; 
    margin-right: 10vw; 
  }

  #resume-container {
    height: 100vh; 
    background: #fff;
  }

  .resume-header {
    background: #313c4e;
    color: white;
    padding: 0 5vw;  
  }

  .contacts-bar {
    background: #222a33;
    display: flex; 
    justify-content: space-evenly;
    color: #66fcf1;
  }

  .contacts-bar a {
    text-decoration: underline;
  }

  .contacts-bar a:visited {
    color: #66fcf1;
  }

  .resume-info-container {
    display: flex; 
    justify-content: center;
    padding: 2vh 2vw; 
  }

  .languages {
    display: flex; 
    gap: 10vw; 
  }

  .info-container h1{
    color: #418a91;
    text-decoration: underline;
  }

  .info-container li, .info-container p {
    width: 50%;
  }

  #projects-container
  {
    background-color: #0b0c10; 
    height: 100vh; 
    color: #fff;
    padding: 2vh 2vw;
  }

  #projects-container h1 {
    text-align: center;
  }

  .card-container {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;  
    height: inherit;
    padding-top: 5vh; 
    padding-bottom: 10vh;  
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.8);
    transition: 0.3s;
    width: 300px; 
    margin: 3% auto 0; 
    background: #fff;
    text-align: center;
}

.card:hover {
  transform: translateY(-10px);
}

.card-title:hover {
  text-decoration: underline;
}

.card-title {
    font-size: 2em;
    color: #4F3674;
    font-weight: 400;
    font-weight: bold; 
}

.card-content {
    padding: 2px 16px;
    text-align: left;
    color:#000; 
}

  .to-contacts-button
  {  
    display: flex; 
    align-items: center;
    justify-content: center;
  }

  .to-contacts-button:hover{
    position: absolute; 
    color: #66fcf1;
    border: 2px solid white; 
    font-size: 22px; 
    width: 12vh; 
    height: 10vh;
    left: 45%; 
    bottom: 5%; 
    transition: 0.7s; 
    cursor: pointer; 
  }

  .to-contacts-button:not(:hover)
  {
    position: absolute;  
    font-size: 22px; 
    background: none; 
    color: #fff; 
    border: 2px solid #66fcf1;
    width: 40vh; 
    height: 10vh;
    left: 38%;
    bottom: 5%; 
    transition: 0.7s;
  }
  
  footer {
    background: #313c4e;
    height: 30vh; 
    display: flex; 
    justify-content: center;
    gap: 10vw;
    color: #fff; 
  }

  .footer-container {
    margin-top: 10vh; 
  }

  
  
  .footer-container a:hover {
    text-decoration: underline;
  }

  .footer-container a:visited {
    color: #fff; 
  }
 